nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  width: 5px;
  height: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: all 0.2s ease-in-out;
}

.home-btn {
  background-image: url('https://cdn0.iconfinder.com/data/icons/essentials-solid-glyphs-vol-1/100/House-Home-Property-1024.png');
}

.profile-btn {
  background-image: url('https://cdn0.iconfinder.com/data/icons/essentials-solid-glyphs-vol-1/100/User-Account-1024.png');
}

nav a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
